# {{ ansible_managed }}

[users]
{% for user in zeppelin_shiro.users %}
{% if user.roles %}
{{ user.name }} = {{ user.password }}, {{ user.roles | join(', ') }}
{% else %}
{{ user.name }} = {{ user.password }}
{% endif %}
{% endfor %}


[main]
{% if zeppelin_shiro.auth_realm == 'active_directory' %}
# Active directory authentication
activeDirectoryRealm = org.apache.zeppelin.server.ActiveDirectoryGroupRealm
{% for option_item in zeppelin_shiro.active_directory.options %}
activeDirectoryRealm.{{ option_item.name }} = "{{ option_item.value }}"
{% endfor %}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'ldap' %}
# LDAP authentication
ldapRealm = org.apache.zeppelin.realm.LdapGroupRealm
{% for option_item in zeppelin_shiro.ldap.options %}
ldapRealm.{{ option_item.name }} = "{{ option_item.value }}"
{% endfor %}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'pam' %}
# PAM authentication
pamRealm=org.apache.zeppelin.realm.PamRealm
pamRealm.service={{ zeppelin_shiro.pam.options.service }}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'zeppelin_hub' %}
# ZeppelinHub authentication
zeppelinHubRealm = org.apache.zeppelin.realm.ZeppelinHubRealm
zeppelinHubRealm.zeppelinhubUrl = {{ zeppelin_shiro.zeppelin_hub.options.url }}
securityManager.realms = $zeppelinHubRealm
{% endif %}

sessionManager = org.apache.shiro.web.session.mgt.DefaultWebSessionManager

{% if zeppelin_shiro.user_caching %}
cacheManager = org.apache.shiro.cache.MemoryConstrainedCacheManager
securityManager.cacheManager = $cacheManager
{% endif %}

securityManager.sessionManager = $sessionManager
securityManager.sessionManager.globalSessionTimeout = {{ zeppelin_shiro.global_session_timeout }}
shiro.loginUrl = /api/login


[roles]
{% for role in zeppelin_shiro.roles %}
{{ role.name }} = {{ role.value }}
{% endfor %}


[urls]
{% for url_item in zeppelin_shiro.urls %}
{{ url_item.url }} = {{ url_item.permissions }}
{% endfor %}
