# {{ ansible_managed }}

[users]
{% for user in zeppelin_shiro.users %}
{% if user.roles %}
{{ user.name }} = {{ user.password }}, {{ user.roles | join(', ') }}
{% else %}
{{ user.name }} = {{ user.password }}
{% endif %}
{% endfor %}


[main]
{% if zeppelin_shiro.auth_realm == 'active_directory' %}
# Active directory authentication
activeDirectoryRealm = {{ zeppelin_shiro.realms.active_directory.class }}
{% for option_item in zeppelin_shiro.realms.active_directory.options %}
activeDirectoryRealm.{{ option_item.name }} = {{ option_item.value }}
{% endfor %}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'ldap' %}
# LDAP authentication
ldapRealm = {{ zeppelin_shiro.realms.ldap.class }}
{% for option_item in zeppelin_shiro.realms.ldap.options %}
ldapRealm.{{ option_item.name }} = {{ option_item.value }}
{% endfor %}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'pam' %}
# PAM authentication
pamRealm = {{ zeppelin_shiro.realms.pam.class }}
pamRealm.service = {{ zeppelin_shiro.realms.pam.options.service }}
{% endif %}

{% if zeppelin_shiro.auth_realm == 'zeppelin_hub' %}
# ZeppelinHub authentication
zeppelinHubRealm = {{ zeppelin_shiro.realms.zeppelin_hub.class }}
zeppelinHubRealm.zeppelinhubUrl = {{ zeppelin_shiro.realms.zeppelin_hub.options.url }}
{% endif %}

sessionManager = {{ zeppelin_shiro.session_manager.class }}

{% if zeppelin_shiro.user_caching %}
cacheManager = {{ zeppelin_shiro.cache_manager.class }}
securityManager.cacheManager = {{ zeppelin_shiro.security_manager.cache_manager.class }}
{% endif %}

{% if zeppelin_shiro.security_manager.realms != '' %}
securityManager.realms = {{ zeppelin_shiro.security_manager.realms }}
{% endif %}
securityManager.sessionManager = {{ zeppelin_shiro.security_manager.session_manager.class }}
securityManager.sessionManager.globalSessionTimeout = {{ zeppelin_shiro.session_manager.global_session_timeout }}
shiro.loginUrl = /api/login


[roles]
{% for role in zeppelin_shiro.roles %}
{{ role.name }} = {{ role.value }}
{% endfor %}


[urls]
{% for url_item in zeppelin_shiro.urls %}
{{ url_item.url }} = {{ url_item.permissions }}
{% endfor %}
